<mat-toolbar>
  <span>Evernote Clone</span>
</mat-toolbar>

<div style="margin-top: 70px;">
  <div class="editor-wrapper">

    <div class="update-container" >
      <button (click)="saveVersion()" [disabled]="!enableSaveButton" *ngIf="isNewDoc">Save</button>

      <div class="versions" *ngIf="this.data.versions.length > 0">
        <app-versions 
          [versions] = "data.versions" 
          [change] = "change"
          (showDiffVersion)="showDiffVersion($event)"
          (applyOldVersion)="applyOldVersion($event)"
          (resetToCurrentVersion)="resetToCurrentVersion()" ></app-versions>
      </div>
    </div>

    <div class="editor">
      <div #editor></div>
    </div>

  </div>
  
  <div *ngIf="data.content == '' && !isNewDoc">
    <div class="empty-screen-wrapper" (click)="createNewDocument()">
      <div class="empty-screen-cont">
        <div class="icon">
          <mat-icon>edit</mat-icon>
        </div>
        
        <div class="label">
          Press to Create <br />
          a New Document
        </div>
      </div>
    </div>
  </div>  
</div>

<div #tempEditor style="visibility: none;"></div>